@import '@fontsource-variable/inter';
@import 'tailwindcss';

@theme {
  --color-primary: #08090a;
  --color-muted: var(--color-neutral-300);
  --shadow-main: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-main-ele:
    0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --breakpoint-2xl: 120rem;
  --default-font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --font-size: 16px;
  --default-text-color: #fff;
  --default-color: hsl(226, 42%, 25%);
  --duration: 0.3s;
}

body {
  color: var(--default-text-color);
  font-size: var(--font-size);
  background: #08090a;
  font-family: var(--default-font-family);
  line-height: 1;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  line-height: 1.4em;
}

.gradient {
  background: linear-gradient(to bottom, hsl(210 11% 8% / 1), transparent 20%);
}

/* animations */
.fade {
  animation:
    fade-in 1s,
    blur-in 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

span.fade {
  display: inline-block;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blur-in {
  from {
    filter: blur(14px);
  }
  to {
    filter: blur(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    animation: none;
    opacity: 1;
  }
}

.fadeImg {
  animation: fade-img 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade-img {
  0% {
    opacity: 0;
    transform: translateX(100px) translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .fadeImg {
    animation: none;
    opacity: 1;
  }
}

.fadeImgFeature {
  animation: fade-img-feature 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade-img-feature {
  0% {
    opacity: 0;
    filter: blur(6px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .fadeImgFeature {
    animation: none;
    opacity: 1;
  }
}

.link--white {
  color: white;
}

.link--decorated:hover {
  text-decoration: underline;
}

.zoom img {
  transition: transform 0.2s;
}

.zoom:hover img {
  transform: scale(1.2);
}
