<footer class="footer">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column py-0">
                <p class="my-1">
                    <a href="imprint.html">Imprint</a><br />
                    <a href="privacy.html">Privacy policy</a>
                </p>
            </div>
            <div class="column py-0">
                <div class="text-center">
                    <p class="mb-1">&copy; <span id="current_year"></span></p>
                    <p>Carsten K&ouml;nig</p>
                </div>
            </div>
            <div class="column py-0">
                <div class="pull-right mt-05">
                    <a href="https://github.com/cars10/elasticvue" rel="noopener" target="_blank">
                        <img alt="Github" src="../../static/icons/github/github_logo.png" width="100px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
