<footer class="footer">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column py-0">
                <p class="mb-1"><a href="legals.html">Legal disclaimer</a></p>
                <p><a href="privacy.html">Privacy policy</a></p>
            </div>
            <div class="column py-0">
                <div class="text-center">
                    <p class="mb-1">&copy; <span id="current_year"></span></p>
                    <p>Carsten K&ouml;nig</p>
                </div>
            </div>
            <div class="column py-0">
                <div class="pull-right mt-05">
                    <a href="https://github.com/cars10/elasticvue" target="_blank" rel="noopener">
                        <img src="../../static/images/github_logo.png" alt="Github">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>