<footer class="footer">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column py-0">
        <p class="mb-1">
          <a href="imprint" rel="nofollow">Imprint</a>
        </p>
        <p>
          <a href="privacy" rel="nofollow">Privacy policy</a>
        </p>
      </div>
      <div class="column py-0">
        <div class="has-text-centered">
          <p class="">&copy; ${CURRENT_YEAR}</p>
          <p>Carsten K&ouml;nig</p>
        </div>
      </div>
      <div class="column py-0">
        <div class="pull-right mt-05">
          <a href="https://github.com/cars10/elasticvue" rel="noopener" target="_blank">
            <img alt="Github" src="../../static/github/github_logo.png" width="100px">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="back_to_top">Back to top</div>
