<header class="header">
    <div class="container">
        <h1 class="title">
            <a href="index.html">&#11041; Elasticvue</a>
        </h1>

        <nav class="pull-right">
            <ul class="navigation">
                <li><a class="navigation__link" href="index.html">Home</a></li>
                <li><a class="navigation__link" href="index.html#usage">Usage</a></li>
                <li><a class="navigation__link" href="index.html#configuration">Configuration</a></li>
                <li><a class="navigation__link" href="index.html#screenshots">Screenshots</a></li>
                <li>
                    <a class="navigation__image" href="https://github.com/cars10/elasticvue" target="_blank"
                       rel="noopener">
                        <img src="../../static/images/github_mark.png" alt="">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>