<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Elasticvue is a simple frontend for elasticsearch"/>
    <meta property="og:title" content="Elasticvue"/>
    <meta property="og:description" content="Elasticvue is a simple frontend for elasticsearch"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="msapplication-TileColor" content="#33447d">
    <meta name="theme-color" content="#33447d">
    <title>Elasticvue</title>
</head>
