<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="Elasticvue is a simple frontend for elasticsearch" name="description"/>
    <meta content="Elasticvue" property="og:title"/>
    <meta content="Elasticvue is a simple frontend for elasticsearch" property="og:description"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta content="true" name="HandheldFriendly">
    <meta content="#33447d" name="msapplication-TileColor">
    <meta content="#33447d" name="theme-color">
    <title>Elasticvue</title>
</head>
