<header class="header header--fancy" id="header">
    <div class="container">
        <a href="${BASE_URI}">
            <img alt="Logo" class="header--fancy--visible brand-logo" src="../../static/icons/logo/logo_high_white.png">
            <img alt="Logo" class="header--fancy--hidden brand-logo" src="../../static/icons/logo/logo_high_blue.png">
            <h1 class="title">Elasticvue</h1>
        </a>

        <nav class="pull-right">
            <ul class="navigation" id="navigation">
                <li><a class="navigation__link" href="${BASE_URI}">Home</a></li>
                <li><a class="navigation__link" href="#usage">Usage</a></li>
                <li><a class="navigation__link" href="#configuration">Configuration</a></li>
                <li><a class="navigation__link" href="#screenshots">Screenshots</a></li>
                <li>
                    <a class="navigation__image" href="https://github.com/cars10/elasticvue"
                       rel="noopener" target="_blank">
                        <img alt="Github" class="header--fancy--hidden" height="40px"
                             src="../../static/icons/github/github_mark_dark.png" width="40px">
                        <img alt="Github" class="header--fancy--visible" height="40px"
                             src="../../static/icons/github/github_mark_light.png" width="40px">
                    </a>
                </li>
            </ul>

            <a aria-label="Menu" class="hamburger" href="javascript:void(0)" id="navbar_toggle">
                <div class="hamburger--bar"></div>
                <div class="hamburger--bar"></div>
                <div class="hamburger--bar"></div>
            </a>
        </nav>
    </div>
</header>

<script>
  if (window.location.pathname !== '/') {
    document.querySelectorAll('.navigation__link').forEach(link => {
      link.parentNode.removeChild(link)
    })
  }
</script>
