<header class="header header--fancy" id="header">
    <div class="container">
        <a href="${BASE_URI}">
            <img src="../../static/icons/logo/logo_high_white.png" alt="Logo" class="header--fancy--visible brand-logo">
            <img src="../../static/icons/logo/logo_high_blue.png" alt="Logo" class="header--fancy--hidden brand-logo">
            <h1 class="title">Elasticvue</h1>
        </a>

        <nav class="pull-right">
            <ul class="navigation" id="navigation">
                <li><a class="navigation__link" href="${BASE_URI}">Home</a></li>
                <li><a class="navigation__link" href="#usage">Usage</a></li>
                <li><a class="navigation__link" href="#configuration">Configuration</a></li>
                <li><a class="navigation__link" href="#screenshots">Screenshots</a></li>
                <li>
                    <a class="navigation__image" href="https://github.com/cars10/elasticvue"
                       target="_blank" rel="noopener">
                        <img src="../../static/icons/github/github_mark_dark.png" alt="Github" width="40px" height="40px" class="header--fancy--hidden">
                        <img src="../../static/icons/github/github_mark_light.png" alt="Github" width="40px" height="40px" class="header--fancy--visible">
                    </a>
                </li>
            </ul>

            <a href="javascript:void(0)" id="navbar_toggle" class="hamburger" aria-label="Menu">
                <div class="hamburger--bar"></div>
                <div class="hamburger--bar"></div>
                <div class="hamburger--bar"></div>
            </a>
        </nav>
    </div>
</header>

<script>
    if (window.location.pathname !== '/') {
        document.querySelectorAll('.navigation__link').forEach(link => {
            link.parentNode.removeChild(link)
        })
    }
</script>