<div class="has-text-centered subheading mb-4">
    <p>
        The browser extensions are the easiest way to run elasticvue.<br>
        This way you can use elasticvue immediately without having to do any cluster configuration.
    </p>
</div>

<div class="columns is-multiline mb-4">
    <div class="column is-one-third-desktop feature-wrapper">
        <div class="feature">
            <div class="feature__badge">zero config</div>
            <h3 class="feature__title">
                ${require('./icons/chrome.html')}
                Chrome extension
            </h3>
            <div class="feature__body">
                <p class="mb-1">Elasticvue is available in the chrome web store:</p>
                <a class="button button--primary mb-1"
                   href="https://chrome.google.com/webstore/detail/elasticvue/hkedbapjpblbodpgbajblpnlpenaebaa"
                   rel="noopener" target="_blank">${require('./icons/external.html')} Chrome webstore</a>
            </div>
        </div>
    </div>

    <div class="column is-one-third-desktop feature-wrapper">
        <div class="feature">
            <div class="feature__badge">zero config</div>
            <h3 class="feature__title">
                ${require('./icons/edge.html')}
                Edge extension
            </h3>
            <div class="feature__body">
                <p class="mb-1">Elasticvue is available in the microsoft store:</p>
                <a class="button button--primary mb-1"
                   href="https://microsoftedge.microsoft.com/addons/detail/geifniocjfnfilcbeloeidajlfmhdlgo"
                   rel="noopener" target="_blank">${require('./icons/external.html')} Microsoft webstore</a>
            </div>
        </div>
    </div>

    <div class="column is-one-third-desktop feature-wrapper">
        <div class="feature">
            <div class="feature__badge">zero config</div>
            <h3 class="feature__title">
                ${require('./icons/firefox.html')}
                Firefox addon
            </h3>
            <div class="feature__body">
                <p class="mb-1">Elasticvue is available for firefox:</p>
                <a class="button button--primary mb-1"
                   href="https://addons.mozilla.org/en-US/firefox/addon/elasticvue/"
                   rel="noopener" target="_blank">${require('./icons/external.html')} Firefox addon</a>
            </div>
        </div>
    </div>
</div>


<div class="has-text-centered subheading mb-4">
    <p>
        If you don't use a browser extension then you have to configure CORS to grant the browser access to your cluster.
        <br>Elasticvue will guide you on how to configure your cluster when you use it for the first time.
    </p>
</div>

<div class="columns is-multiline mb-4">
    <div class="column is-one-third-desktop feature-wrapper">
        <div class="feature">
            <h3 class="feature__title">Web app</h3>
            <div class="feature__body">
                <p class="mb-1">You can use the hosted version of elasticvue to avoid installing anything.</p>
                <a class="button button--primary mb-1" href="https://app.elasticvue.com" rel="noopener"
                   target="_blank">${require('./icons/external.html')} app.elasticvue.com</a>
            </div>
        </div>
    </div>

    <div class="column is-one-third-desktop feature-wrapper">
        <div class="feature feature--docker">
            <h3 class="feature__title">
                ${require('./icons/docker.html')}
                Docker image
            </h3>
            <div class="feature__body">
                <p class="mb-1">
                    Download and run
                    <a href="https://hub.docker.com/r/cars10/elasticvue" rel="noopener" target="_blank">
                        the image</a>, then open
                    <a href="http://localhost:8080" rel="noopener" target="_blank">http://localhost:8080</a>:
                </p>
                <div class="overflow-x-scroll inline-block">
                            <pre class="inline-block code-block selectable"><code>docker run -p 8080:8080 \\
           -d cars10/elasticvue</code></pre>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-one-third-desktop feature-wrapper">
        <div class="feature">
            <h3 class="feature__title">
                ${require('./icons/github.html')}
                Building manually
            </h3>
            <div class="feature__body">
                <p class="mb-1">
                    Check the <a href="https://github.com/cars10/elasticvue" rel="noopener" target="_blank">readme</a>
                    for instructions on how to manually build elasticvue.
                </p>
            </div>
        </div>
    </div>
</div>
