.back_to_top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #eee;
  padding: 15px 20px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
}