.back_to_top {
  position: fixed;
  bottom: 34px;
  right: 34px;
  background-color: #eee;
  padding: 15px 20px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
}