* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/** https://www.svgbackgrounds.com/#rainbow-vortex **/
body {
  color: $default-text-color;
  /*font-family: "Lucida Console", Monaco, monospace;*/
  font-size: $font-size;
  background-color: $default-color;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

:target {
  display: block;
  position: relative;
  top: -($navbar-height+$content-padding);
  visibility: hidden;
}