* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/** https://www.svgbackgrounds.com/#rainbow-vortex **/
body {
  color: $default-text-color;
  font-size: $font-size;
  background-color: $default-color;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

:target {
  display: block;
  position: relative;
  top: -($header-height+$content-padding);
  visibility: hidden;
}

@media only screen and (max-width: $tablet) {
  :target {
    top: -($header-height--mobile+$content-padding--mobile)+2px; // +2px offset because it does not fit exactly
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  :target {
    top: -($header-height--mobile+$content-padding--tablet);
  }
}