.content {
  color: #fff;
  padding-top: 90px;
  padding-bottom: 90px;
  height: 100%;
}

.content--lead {
  min-height: 800px;
}

.content--white {
  background-color: #fff;
  color: $default-color;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.24);
}

.content .subheading {
  color: #cdcdcd;
}

.content--white .subheading {
  color: #666
}