.copyable {
  cursor: copy
}

.copyable-toast {
  position: fixed;
  background-color: #f44336;
  color: #fff;
  z-index: 10;
  padding: 5px 10px;
  transition: opacity 1s ease-out;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
}

.copyable-toast--success {
  background-color: #66BB6A;
}