.feature {
  text-align: center;
  margin: 10px;
  box-shadow: $default-box-shadow;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border-radius: $default-border-radius;
}

.feature:hover {
  box-shadow: $default-box-shadow-hover;
}

.feature__title {
  padding: 16px;
}

.feature__body {
  padding: 16px;
}

@media only screen and (max-width: $tablet) {
  .feature {
    margin: 0
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .feature {
    margin: 5px;
  }
}
