.feature {
  border-top: 4px solid $default-color;
  text-align: center;
  margin: 10px;
  box-shadow: $default-box-shadow;
  transition: box-shadow $transition-duration;
  border-radius: $default-border-radius;
  height: 100%;
}

.feature--docker {
  border-top: 4px solid #099cec;
}

.feature--chrome {
  border-top: 4px solid;
  border-image: linear-gradient(to right, #4285f4 25%, #0f9d58 25%, #0f9d58 50%, #f4b400 50%, #f4b400 75%, #db4437 75%) 4;
}

.feature--firefox {
  border-top: 4px solid;
  border-image: linear-gradient(to right, #F62336 20%, #FF6611 20%, #FF6611 40%, #FFEC4A 40%, #FFEC4A 60%, #203FB6 60%, #203FB6 80%, #008AFB 80%) 5;
}

.feature:hover {
  box-shadow: $default-box-shadow-hover;
}

.feature__title {
  padding: 24px 16px;
  font-size: 1.25rem;
}

.feature__body {
  padding: 16px 16px 4px 16px;
}

@media only screen and (max-width: $tablet) {
  .feature {
    margin: 0 !important;
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .feature {
    margin: 5px !important;
  }
}
