.gallery__thumb {
  box-shadow: $default-box-shadow;
  border-radius: $default-border-radius;
  max-width: 100%;
}

.gallery__thumb:hover {
  cursor: pointer;
  box-shadow: $default-box-shadow-hover;
}

.gallery__modal {
  position: fixed;
  max-width: 1280px;
  max-height: 800px;
  height: auto;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 5;
  border-radius: $default-border-radius;
}

.gallery__modal > img {
  max-width: 100%;
  border-radius: $default-border-radius;
}

.gallery__modal__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.gallery__modal, .gallery__modal__backdrop {
  visibility: hidden;
  opacity: 0;
}

.gallery.gallery--visible .gallery__modal, .gallery.gallery--visible .gallery__modal__backdrop {
  visibility: visible;
  opacity: 1;
}

.gallery__modal__controls__prev, .gallery__modal__controls__next {
  position: absolute;
  width: 5%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  top: 45%;
  bottom: 45%;
  z-index: 6;
  transition: 0.3s visibility, 0.3s opacity;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 3.8rem;
  line-height: 3.8rem;
  user-select: none;
}

.gallery__modal:hover .gallery__modal__controls__prev, .gallery__modal:hover .gallery__modal__controls__next {
  opacity: 1;
  visibility: visible;
}

.gallery__modal__controls__prev {
  border-radius: 0 $default-border-radius $default-border-radius 0;
  left: 0
}

.gallery__modal__controls__next {
  border-radius: $default-border-radius 0 0 $default-border-radius;
  right: 0
}

@media only screen and (max-width: $tablet) {
  .gallery__modal__controls__prev, .gallery__modal__controls__next {
    font-size: 2rem;
    line-height: 2rem;
    width: 10%;
    height: 20%;
    top: 40%;
    bottom: 40%;
  }

  .gallery__modal {
    top: 10px;
    left: 5px;
    right: 5px;
    margin: auto;
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .gallery__modal__controls__prev, .gallery__modal__controls__next {
    font-size: 3rem;
    padding-top: 14px;
    width: 10%;
    height: 20%;
    top: 40%;
    bottom: 40%;
  }

  .gallery__modal {
    top: 20px;
    left: 15px;
    right: 15px;
    margin: auto;
  }
}