.main {
  margin-top: $navbar-height;
}

.row {
  display: flex;
  margin-left: -$grid-padding;
  margin-right: -$grid-padding;
  flex-flow: wrap;
}

.col {
  flex: 1;
  padding: $grid-padding;
}

.col > img {
  width: 100%;
  height: auto;
}

.col-25 {
  flex: 0 0 25%;
}

.container {
  width: 75%;
  margin: auto;
}
