.main {
  margin-top: 80px;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-flow: wrap;
}

.col {
  flex: 1;
  padding: 15px;
}

.col > img {
  width: 100%;
  height: auto;
}

.col-25 {
  flex: 0 0 25%;
}

.container {
  width: 75%;
  margin: auto;
}
