.main {
  margin-top: $header-height;
}

.container {
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: $tablet) {
  .main {
    margin-top: $header-height--mobile;
  }

  .container {
    width: 92%;
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .main {
    margin-top: $header-height--tablet;
  }

  .container {
    width: 90%;
  }

  .columns--ordered-tablet {
    display: flex;
  }

  .column--order-tablet-1 {
    order: 1
  }

  .column--order-tablet-2 {
    order: 2
  }

  .column--order-tablet-3 {
    order: 3
  }
}