.hamburger {
  display: none;
  width: 42px;
  margin-top: 8px;
  margin-right: 2px;
  padding: 10px 6px;
  border-radius: $default-border-radius
}

.hamburger:hover {
  background-color: $grey
}

.hamburger--bar {
  float: left;
  display: inline-block;
  height: 4px;
  width: 30px;
  background-color: $default-text-color;
  border-radius: $default-border-radius
}

.hamburger--bar:not(:last-child) {
  margin-bottom: 4px;
}

.header--fancy {
  .hamburger:hover {
    background-color: $default-color--dark
  }
  .hamburger--bar {
    background-color: #fff
  }
}

@media only screen and (max-width: $tablet) {
  .hamburger {
    display: inline-block !important;
  }
}