.header {
  height: $header-height;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  border-bottom: 2px solid #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
}

.header.header--fancy {
  background-color: $default-color;
  color: #fff;
  box-shadow: none;
  border-bottom: 2px solid $default-color;
}

.header.header--animated {
  transition: background-color $transition-duration, border-bottom-color $transition-duration, color $transition-duration;
}

@media only screen and (max-width: $tablet) {
  .header {
    height: $header-height--mobile;
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .header {
    height: $header-height--tablet;
  }
}