.pull-right {
  float: right
}

.text--dark, a.text--dark, a.text--dark:visited {
  color: $default-text-color;
}

.text--muted {
  color: #ababab;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.overflow-x-scroll {
  overflow-x: scroll;
  max-width: 100%;
}
