.pull-right {
  float: right
}

.text--white, a.text--white, a.text--white:visited {
  color: #fff;
}

.text-muted {
  color: #ababab;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

