.pull-right {
  float: right
}

.text--dark, a.text--dark, a.text--dark:visited {
  color: $default-text-color;
}

.text--muted {
  color: #ababab;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: $desktop) {
  .overflow--scroll--tablet {
    overflow-x: scroll;
  }
}