.image_overlap {
  position: relative;
  overflow: visible;
  margin-right: 5%;
  margin-bottom: 8%;
}

.image_overlap img {
  max-width: 100%;
  box-shadow: $default-box-shadow;
  border-radius: $default-border-radius;
}

.image_overlap__base {
  top: 0;
  left: 0;
  transition: top $transition-duration, left $transition-duration;
}

.image_overlap__overlap {
  position: absolute;
  width: 100%;
  top: 8%;
  left: 5%;
}