.brand-logo {
  width: 52px;
  margin-top: 14px;
  margin-right: 8px;
  float: left;
}

.title {
  font-size: 36px;
  font-weight: normal;
  display: inline-block;
  padding: 18px 0;
}

a > .title, a:visited > .title {
  color: $default-text-color;
  text-decoration: none;
}

a:hover > .title {
  color: $default-color;
}

.navigation {
  display: inline-block;
  list-style: none;
  height: $header-height;
}

.navigation > li {
  float: left;
  height: 100%;
}

.navigation .navigation__link {
  margin-left: 40px;
}

a.navigation__link {
  font-size: 1.1rem;
  text-decoration: none;
  color: $default-text-color;
  margin-top: 28px;
  display: inline-block;
}

.navigation__image {
  display: inline-block;
  padding: 18px 20px;
  margin-left: 20px;
}

.navigation__image:hover {
  background-color: #ddd;
}

.navigation > li > a:hover {
  color: $link-hover-color;
}

.header--fancy--visible {
  display: none
}

.header--fancy--hidden {
  display: block;
}

.header--fancy {
  .header--fancy--visible {
    display: block;
  }

  .header--fancy--hidden {
    display: none;
  }

  a > .title, a:visited > .title {
    color: #fff;
  }

  a:hover .title {
    color: $grey;
  }

  a.navigation__link {
    color: #fff;
  }

  .navigation__image:hover {
    background-color: transparent;
  }

  .navigation > li > a:hover {
    color: $grey;
  }
}

@media only screen and (max-width: $tablet) {
  .title {
    font-size: 24px !important;
    padding: 15px 0 !important;
  }

  .navigation {
    height: auto !important;
    max-height: 0 !important;
    position: fixed !important;
    background-color: #fff !important;
    margin-top: $header-height--mobile !important;
    width: 100% !important;
    text-align: center !important;
    padding: 0 !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 0 0 $default-border-radius $default-border-radius !important;
    box-shadow: $default-box-shadow--bottom !important;
    overflow: hidden !important;
    transition: max-height $transition-duration !important;
  }

  .navigation > li {
    float: none !important;
    height: initial !important;
  }

  .navigation .navigation__link {
    margin: 0 !important;
    padding: 12px 0 !important;
    width: 100% !important;
  }

  .navigation__image {
    padding: 8px !important;
    margin: 0 !important;
  }

  .navigation.navigation--open {
    max-height: 350px !important;
  }

  .header--fancy {
    .navigation {
      background-color: $default-color !important;
    }
  }

  .brand-logo {
    width: 32px !important;
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .title {
    padding: 18px 0 !important;
    font-size: 28px !important;
  }

  .navigation .navigation__link {
    margin-left: 20px !important;
  }

  .navigation__image {
    padding: 14px 10px !important;
    margin-left: 10px !important;
  }

  a.navigation__link {
    font-size: 1rem !important;
    margin-top: 26px !important;
  }

  .brand-logo {
    width: 40px !important;
  }
}
