.title {
  font-size: 36px;
  font-weight: normal;
  display: inline-block;
  padding: 18px 0;
}

.title > a, .title > a.visited {
  color: $default-text-color;
  text-decoration: none;
}

.title > a:hover {
  color: $link-hover-color;
}

.navigation {
  display: inline-block;
  list-style: none;
  height: $header-height;
}

.navigation > li {
  float: left;
  height: 100%;
}

.navigation .navigation__link {
  margin-left: 40px;
}

a.navigation__link {
  font-size: 1.1rem;
  text-decoration: none;
  color: #333;
  margin-top: 28px;
  display: inline-block;
}

.navigation__image {
  display: inline-block;
  padding: 18px 20px;
  margin-left: 20px;
}

.navigation__image:hover {
  background-color: #ddd;
}

.navigation > li > a:hover {
  color: $link-hover-color;
}

@media only screen and (max-width: $tablet) {
  .title {
    font-size: 24px;
    padding: 15px 0;
  }

  .navigation {
    display: none // TODO
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .title {
    padding: 18px 0;
    font-size: 28px;
  }

  .navigation .navigation__link {
    margin-left: 20px;
  }

  .navigation__image {
    padding: 14px 10px;
    margin-left: 10px;
  }

  a.navigation__link {
    font-size: 1rem;
    margin-top: 26px;
  }
}