.code-block {
  background-color: #eee;
  padding: 8px;
  word-break: break-all;
  text-align: left;
  color: $default-text-color;
  border-radius: $default-border-radius;
}

.code-block .comment {
  color: #888;
}
