.code-block {
  background-color: #444;
  padding: 8px;
  border: 2px solid $default-text-color;
  word-break: break-all;
  text-align: left;
  color: #fff;
  border-radius: $default-border-radius;
}

.code-block .comment {
  color: #ababab;
}
