.code-block {
  background-color: #efefef;
  padding: 8px;
  word-break: break-all;
  text-align: left;
  color: $default-text-color;
  border-radius: $default-border-radius;
  font-size: 0.9em;
}

.code-block .comment {
  color: #777;
}

.code-inline {
  font-size: 0.9em;
  background-color: $light-grey;
  padding: 2px 4px;
  color: $default-text-color;
  border-radius: $default-border-radius;
}