.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

@media only screen and (max-width: $tablet) {
  .mb-4 {
    margin-bottom: 1rem !important;
  }

  .mb-6 {
    margin-bottom: 1.5rem !important;
  }

  .mb-8 {
    margin-bottom: 2rem !important;
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .mb-4 {
    margin-bottom: 2rem !important;
  }

  .mb-6 {
    margin-bottom: 3rem !important;
  }

  .mb-8 {
    margin-bottom: 4rem !important;
  }
}
