.subheading {
  font-weight: lighter;
  color: $default-text-color-light;
}

.text--lead {
  font-size: 1.2em;
}

.quote {
  border-left: 3px solid #fff;
  padding: 10px 20px;
  font-size: 1.6rem;
}

@media only screen and (max-width: $tablet) {
  .quote {
    font-size: 1.2rem !important;
    padding: 5px 10px !important;
  }

  .text--lead {
    font-size: 1.1em !important;
  }
}